@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Raleway Dots", cursive;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #f6f6f6;
  display: grid;
  place-items: center;
}
.music_container {
  width: 35rem;
  height: 55rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.music_container #title {
  font-size: 2.5rem;
  text-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-block: 2.5rem;
  text-transform: uppercase;
  color: #171717;
}
.music_container #artist {
  font-size: 1.5rem;
  text-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-block: 4rem;
  text-transform: uppercase;
  color: #171717;
}
.img_container {
  width: 25rem;
  height: 25rem;
  margin: auto;
}
.img_container img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: rotate(360);
  object-fit: cover;
}
.music_control {
  width: 20rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}
.music_control .uil {
  color: #111111;
  cursor: pointer;
}
.music_control .main_btn {
  width: 5rem;
  height: 5rem;
  background-color: #111;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}
.music_control .uil:hover {
  color: gray;
}
.music_control .main_btn:hover {
  background-color: #f6f6f6;
  color: #111;
  box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.5);
}
/* ============= Animation =========== */

.anime {
  animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===== PROGRESS STYLE ======*/

.progressbar_container {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.progress_duration_meter {
  display: flex;
  justify-content: space-between;
  margin-inline: 2rem;
}
.progress_div {
  width: 90%;
  height: 0.5rem;
  margin: 0.5rem auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  position: relative;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  cursor: pointer;
  appearance: none;
}
.progress {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  border-radius: 4rem;
  position: relative;
  cursor: pointer;
  appearance: none;
  overflow: hidden;
}
